.App {
  text-align: center;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-body {
  padding-top: 20px;
}

.profile {
  /* Add shadows to create the "card" effect */
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  margin: 20px auto;
  padding: 10px;
}

.github-link {
  color: white;
  font-size: 12px;
}

/* On mouse-over, add a deeper shadow */
.profile:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2)
}

.profile-picture {
  width: 100px;
  border-radius: 50%;
}

/* Add some padding inside the card container */
.profile-container {
  padding: 2px 16px;
}

.profile-container h1 {
  font-weight:400;
  font-size:24px;
}

.profile-container h2 {
  font-weight:400;
  font-size:18px;
  line-height:24px;
}

.profile-container h3 {
  font-weight:400;
  font-size:16px;
  color: rgba(0,0,0,.75)
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
